/* Reset */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button {
    font: inherit;
}
:root{
/* ## Colors */
/* ### Primary */

--dark-blue: hsl(233, 26%, 24%);
--dark: hsl(233, 26%, 24%);
--lime-green: hsl(136, 65%, 51%);
--bright-cyan: hsl(192, 70%, 51%);

/* ### Neutral */

--grayish-blue: hsl(233, 8%, 62%);
--light-grayish-blue: hsl(220, 16%, 96%);
--very-light-gray: hsl(0, 0%, 98%);
--white: hsl(0, 0%, 100%);

/* ## Typography */
--font-size: 18px;
--fs-100: 0.75rem;
--fs-200: 0.875rem;
--fs-300: 1rem;
--fs-400: 1.125rem; /* 18px  */
--fs-500: 1.375rem;

/* font Weight */
--fw-300: 300;
--fw-400: 400;
--fw-700: 700;

/* ### Font */
--ff-prim: "Public Sans", sans-serif;

/* Spacing */
--section-spacing: 4rem;

/* Max Width */
--max-width: 90rem;
}

/* Utility Classes */
/* Background color */
.bgc--drk-bl {
    background-color: var(--dark-blue);
}
.bgc--lime {
    background-color: var(--lime-green);
}
.bgc--brt-cayan {
    background-color: var(--bright-cyan);
}
.bgc--gy-bl {
    background-color: var(--grayish-blue);
}
.bgc--lt-gy-bl {
    background-color: var(--light-grayish-blue);
}
.bgc--wht {
    background-color: var(--white);
}

/* font color */
.fc--drk-bl {
    color: var(--dark-blue);
}
.fc--lime {
    color: var(--lime-green);
}
.fc--brt-cayan {
    color: var(--bright-cyan);
}
.fc--v-lt-gy {
    color: var(--very-light-gray);
}
.fc--gy-bl {
    color: var(--grayish-blue);
}
.fc--wht {
    background-color: var(--white);
}
/* Spacing */
.section--spacing {
    margin-bottom: var(--section-spacing);
}
@media (max-width: 976px){
   .mobile-hidden{
    display: none;
} 
}

/* General Styles */
body {
    margin: 0;
    font-family: var(--ff-prim);
    font-size: var(--fs-400);
    background-color: var(--very-light-gray);
    color: var(--grayish-blue);
    letter-spacing: 0.04rem;
}
main {
    max-width: var(--max-width);
    margin: 0 auto;
    /* outline: 3px solid red; */
}
h1, h2, h3, h4, p {
    margin: 0;
}

a{
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
/* Components */
/* Navigation Mobile */
.prim-nav {
    padding-inline: 1rem;
    position: relative;
}
.prim-nav__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    max-width: var(--max-width);
    margin: 0 auto;
}
.prim-nav__overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-bottom: 2rem;
    position: fixed;
    top: 4rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    background: linear-gradient(0.5turn, var(--dark-blue), transparent);
    visibility: hidden;
    translate: 100% 0;
    opacity: 0;
    transition: .7s ease;
    min-height: calc(100vh - 4rem);
}
.prim-nav__navlist{
    list-style: none;
    width: calc(100% - 2rem);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    padding-block: 2rem;
    margin-top: 1rem;
    border-radius: 0.345rem;
}
.prim-nav__menu-toggle{
    visibility: visible;
    translate: unset;
    opacity: 1;
}
.open {
    display: none;
}

.button{
   padding: 0.75rem 1.5rem;
   background: linear-gradient(0.25turn, var(--lime-green), var(--bright-cyan)); 
   color: var(--white);
   border-radius: 25px;
   max-width: fit-content;
   transition: 200ms ease-in-out;
   cursor: pointer;
}
.button:hover,
.button:focus-visible{
    opacity: .75;
}
/* Hero */ 

.hero {
    background-color: transparent;
    margin: 0 auto;
    /* outline: 3px solid maroon; */
}
.hero__image-wrapper{
    background-image: url('../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    order: 1;
    max-height: 600px;
}
.hero__image{
    margin-top: -4rem;
    aspect-ratio: 1/1;
    padding-inline: 1rem;
}
.hero__text{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 1rem;
    order: 2;
    max-height: 600px;
}
.hero__title {
    font-size: clamp(2rem, 6vw, 3rem);
    color: var(--dark);
    font-weight: var(--fw-700);
    text-align: center;
    margin-bottom: 1rem;
}
.hero__subtitle{
    line-height: 1.5;
    margin-bottom: 2rem;
}

@media (min-width: 576px) {
        .hero{
            max-width: var(--max-width);
        }
        /* Hero */
        .hero__container {
            display: flex;
            height: 700px;
        }
        .hero__text{
            width: 40%;
            order: 1;
            align-items: flex-start;
            text-align: left;
            padding-left: 4rem;
        }
        .hero__title{
            text-align: left;
            color: var(--dark);
            font-weight: var(--fw-300);
        }
        
        .hero__image-wrapper{
            all: unset;
            order: 2;
            position: relative;
            background-image: url('../images/bg-intro-desktop.svg'); 
            background-position:-10px -260px;
            background-repeat: no-repeat;  
            width: 60%;
            /* outline: 4px solid pink;     */
        }
        /* .test-image {
            width: 145%;
            position: absolute;
            top: -35%;
            right: -30%;
        }  */
        .hero__image{
            /* width: 100%; */

            /* position: absolute;
            top: -10%;
            right: -28%;
            object-fit: contain; */
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: 150px -150px;
            padding: 0;
            margin-bottom: -100px;
        }

        
}

/* Services */
.services{
    background-color: var(--light-grayish-blue);
    padding-block: 4rem;
    text-align: center;
}
.services__container{
    padding-inline: 1rem;
}
.services__title{
    color: var(--dark-blue);
    font-size: 2rem;
    font-weight: var(--fw-300);
    text-align: center;
    margin-bottom: 1rem;
}
.services__subtitle{
    margin-bottom: 1rem;
    line-height: 1.5;
}
.services__card{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.services__card-title{
    color: var(--dark);
    font-weight: var(--fw-400);
}
.services__card-image-wrapper{
    width: 50px;
    margin: 2rem 2rem 1rem;
}
.services__card-image{
    width: 100%;
}
.services__card-text{
    margin-bottom: 1rem;
    line-height: 1.5;
}
@media (min-width: 576px) {
    /* Services */
    
    .services {
        text-align: left;
    }
    .services__container{
        padding-inline: 4rem;
    }
    .services__title{
        text-align: left;
    }
    .services__subtitle{
        max-width: 65ch;
        margin-bottom: 4rem;
    }
    .services__card-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 298px));
        justify-content: space-between;
        align-items: flex-start;
        /* outline: 3px solid blue; */
    }
    .services__card{
        width: calc(22.5rem - 4rem);
        align-items: flex-start;
        gap: 2rem;
    }
    .services__card-image-wrapper{
        margin: 0;
    }
    .services__card-title{
        text-align: left;
    }
    .services__card-body{
        display: flex;
        flex-flow: column;
        gap: 2rem;
    }
}
/* Articles */
.articles{
    background-color: var(--very-light-gray);
    margin-bottom: 4rem;
}
.articles__header-title {
    color: var(--dark-blue);
    text-align: center;
    font-size: 2rem;
    font-weight: var(--fw-400);
    margin-bottom: 2rem;
} 
.articles__card-container{
    margin-inline: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.articles__card{
    background-color: var(--white);
    /* border: 1px solid black; */
    border-radius: .345rem;
}
.articles__card-body{
    padding: 2rem;
}
.articles__card-body-author{
    font-size: var(--fs-100);
    margin-bottom: 1rem;
}
.articles__card-body-title{
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--dark-blue);
    margin-bottom: 1rem;
}
.articles__card-body-title:hover {
    color: var(--bright-cyan);
}
.articles__card-body-description{
    font-size: var(--fs-300);
    margin-bottom: 1rem;
}

@media (min-width: 576px) {
    /* Articles */
    .articles__header-title {
        text-align: left;
        padding-inline: 1rem;
    }
    .articles__container{
        padding-inline: 4rem;
    }
    .articles__card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 298px));
        justify-content: space-between;
        align-items: flex-start;
    }
    .articles__card{
        min-height: 100%;
    }
    .articles__card-image-wrapper {
        max-height: 200px;
        overflow: hidden;
    }
}

/* Footer */
.footer {
    background-color: var(--dark);
    padding-block: 3rem;
    text-align: center;
}
.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.footer__logo-wrapper{
    margin-bottom: 2rem;
}
.footer__social-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer__social-icon{
    width: 25px
}
.footer__social-icon:hover{
    fill: var(--bright-cyan);
}
.footer__navigation{
    display: flex;
    flex-flow: column;
    gap: .5rem;
}
.footer__navlist{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
    text-align: center;
}
.footer__navlink{
    color: var(--white);
}
.footer__navlink:hover,
.footer__navlink:focus-visible{
    color: var(--bright-cyan);
}
.footer__cta-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.footer__attribution{
    max-width: 40ch;
    text-align: center;
}
.footer__attribution-link {
    color: var(--bright-cyan);
}
@media (min-width: 576px){
    .footer {
        text-align: center;
    }
    .footer__container {
        max-width: var(--max-width);
        margin: 0 auto;
        padding-inline: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }
    .footer__col {
        /* outline: 2px solid rgb(255, 149, 0); */
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 120px;
        width: 25%;
    }
    .footer__logo-wrapper{
        text-align: left;
    }
    .footer__navigation{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3rem;
        width: 25%;
    }
    .footer__navlist{
        justify-content: space-between;
        text-align: left;
        min-height: 120px;
    }
    .footer__cta-wrapper{
        width: 50%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-end;
        min-height: 120px;
        /* outline: 2px solid yellowgreen; */
    }
}
@media (min-width: 576px) {
    /* Navigation Device */
    .prim-nav{
        background-color: var(--white);
        z-index: 1010;
    }
    .prim-nav__nav{
        padding-inline: 4rem;
    }
    .prim-nav__logo{
        min-width: 100px;
    }
    .prim-nav__mob-icon_container {
        display: none;
    }
    .prim-nav__overlay{
        all: unset;
    }
    .prim-nav__navlist{
        all: unset;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    .prim-nav__link{
        position: relative;
    }
    .prim-nav__link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: -1.4rem;
        left: 0;
    }
    .prim-nav__link:hover::after{
        background: linear-gradient(0.25turn, var(--lime-green), var(--bright-cyan));
    }
}